/* General Styles */
body {
    background-color: 20a4b27a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  header .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 50px 20px;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .stat {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 30%;
  }
  
  .pg-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }